#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.homepage{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  align-content: stretch;
  justify-items: center;
  justify-content: stretch;
  border: 3px solid black;
  width: 92vw;
  height: 92vh;
}

.main{
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 1 / 3;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5); 
  border-radius: 8px;
}
.profileImg{
  align-self: start;
  justify-self: end;
  grid-column: 3;
  grid-row: 1 / 3;
}

.messagesContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  grid-column: 1;
  grid-row: 1 / 3;
  border-radius: 14px;
}